<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark" th:data-user="${user.getUsername()}" th:data-groupId="${group.getId()}">
<head>
  <meta charset="UTF-8">
  <title>Discord - Friend</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<div id="wrapper">
  <div th:replace="~{guild :: ServerSidebar}"></div>

  <div th:replace="~{user :: FriendBar}"></div>

  <div class="col-9 p-3 overflow-y-scroll">
    <div id="messages">
      <ul class="ps-0">
        <li class="message mb-3 gap-2" th:each="message: ${group.getMessages()}">
          <i th:text="${message.getAuthor().getUsername()[0]}" th:styleappend="|background: ${message.getAuthor().getAvatarColor()};|"></i>
            <div>
              <div class="message-header gap-2">
                <div class="message-header-author fw-bold" th:text="${message.getAuthor().getUsername()}"></div>
                <div class="message-header-timestamp" th:text="${message.getTimestamp()}"></div>
              </div>
              <div class="message-content" >
                <span class="text-break" th:text="${message.getContent()}"></span>
              </div>
            </div>
        </li>
      </ul>
      <div id="messageDiv">
        <form id="messageForm">
          <input type="text" name="content" th:placeholder="|Message ${group.getName(user)}|" maxlength="2048" id="messageInput" class="form-control" required autofocus>
          <input type="submit" value="Send" class="form-control" style="width: 10%;">
        </form>
      </div>
    </div>

  </div>

  <div class="bg-dark-subtle ps-2 col overflow-y-scroll">
    <span th:text="|Members - ${group.getFriends().size()}|"></span>
    <ul class="list-unstyled">
      <li class="fs-4 ms-3" th:each="member: ${group.getFriends()}" th:text="${member.getUser().getUsername()}"></li>
    </ul>
  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/friend.js}"></script>
</body>
</html>